/* Tags css */
body{
  margin: 0;
  font-size: 15px;
  font-family: "Spartan";
  color: hsl(300, 43%, 22%);
}

h1{
  margin: 0;
  padding-bottom: 1rem;
  font-weight: bold;
}

/* Background Image */
.bg-img{
  position: absolute;
  width: 100%;
}

/* Titles */
.container-fluid {
  padding: 5% 10%;
}

.clear{
  clear: both;
}

/* Rating Segment */
.my-rating {
  margin: auto;
}

.rating {
  padding: 1rem;
  display: flex;
}

.start {
  justify-content:flex-start;
  align-items: flex-start;
}

.center {
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.perso-rate {
  border-radius: 5px;
  background-color: hsl(300, 24%, 96%);
  padding: 10px 50px 10px 5px;
}

.perso-rate span {
  padding-top: 5px;
  font-weight: bold;
}

.first-star {
  margin-left: 16px;
}

.last-star {
  margin-right: 10px;
}


/* Name Card Stack */
.card-col {
  padding: 1% 1%;
}

.card {
  color: hsl(300, 24%, 96%);
  background-color: hsl(300, 43%, 22%);
}

.card-header {
  padding: 20px 30px 0;
}

.card-header h5 {
  font-size: 15px;
  margin: 0;
}

.card-header  p {
  color: hsl(333, 80%, 67%);
  font-weight: light;
}

.card-body {
  padding: 0 30px 20px;
}


#card-1 {
  padding-top: 3rem;
}

#card-2 {
  padding-top: 5rem;
}

.card-img {
  border-radius: 100%;
  width: 42px;
  float: left;
  margin-right: 1.1rem;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Mobile Settings */
@media (max-width:375px) {
  .head-section {
    text-align: center;
  }

  .rating {
    text-align: center;
  }

  .perso-rate {
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .perso-rate span {
    display: block;
  }

  #card-1 {
    padding-top: 1rem;
  }

  #card-2 {
    padding-top: 1rem;
  }

  .attribution {
    font-size: 8px;
  }
}
